@import "../../variables.scss";

.pagination {
    text-align: center;
    button {
        display: inline-block;
        margin-right: 5px;
        margin-bottom: 10px;
    }
    div {
        display: block;
    }
    button {
        cursor: pointer;
    }
}