@import "../../variables.scss";

.pagination {
    text-align: center;
    button,
    div {
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    button {
        cursor: pointer;
    }
}