.sorter {
    margin: 20px auto;
    width: 40%;
}
.catalog {
    padding: 0 20px;
    width: calc(100% - 40px);
    text-align: center;
}
.navigation {
    margin: 20px auto;
    width: 40%;
}
@media only screen and (max-width: 380px) {
    .sorter,
    .navigation {
        margin-left: 20px;
        margin-right: 20px;
        width: calc(100% - 40px);
        min-width: 145px;
    }

}
  