@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "./variables.scss";

body {
  margin: 0;
  background-color: $dim-blue;
  color: $black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
