
@import "../../variables.scss";

select {
  padding: 5px 10px;
  text-overflow: ellipsis;
  background-color: $white;
  border: 1px solid $light-gray;
  cursor: pointer;
  list-style: none;
  font-size: 12px;
  color: $dark-gray;
  width: 100%;
  option {
    font-size: 12px;
  }
  &:focus {
      &::-ms-value { color: $dark-gray; background: transparent; }
  }
  &:focus,
  &:active {
      border: 1px solid $active-blue;
  }
}